.profile-container {
  padding: 25px;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list-element__container-info {
  display: grid;
  grid-template-columns: 55% 45%;
}

.list-element__name {
  width: 80%;
  padding: 13px 0;
}

.list-element__star {
  padding: 13px 0;
  text-align: right
}

.list-element {
  margin-bottom: 40px;
}
