.main {
  background-color: bisque;
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: center;
}

ul {
  list-style-type: none;
  text-decoration: none
}

a {
  text-decoration: none
}

a.active {
  color: gold
}

.result-of-navbar {
  background-color: #324212;
  color: #fff;
}